.container
  = form_for @challenge, url: challenge_participations_path(@challenge), method: 'POST', html: { class: 'form-inline' } do |f|
    = f.text_field :participant_email, placeholder: 'Participant Email'
    = f.submit 'Submit', class: 'btn'

  %h3= "CHALLENGE: "
  %h4= "#{@challenge.fitness_amount} #{@challenge.activity_type} per week"
  %h4= "Each Person Wagers: #{number_to_currency(@challenge.dollars_per_person)}"
  %h4= "Challenge Ends On: #{@challenge.end_date}"

  %h3 Challenge Participants
  %ul
    - @participants.each do |participant|
      %li
        = participant.name + ":"
        %div
          = "Current Progress: #{participant.current_participation(@challenge).amount}"

          .progress.progress-danger.progress-striped
            .bar{style: "width: #{participant.current_participation(@challenge).calculate_participant_progress}%"}
